h1 {
  font-family: arial;   
  color: dimgray;
}
div {
  width: 140pt;
  padding: 5pt;
  margin: 10pt;
  border: 1px solid lightgray;
  font-size: 16pt;
}
#div1 {
  background-color: lightsteelblue;
}
#div2 {
  background-color: pink;
}
#buttonId {
  color: green;
}